<h1>Posts#index</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <div id="<%= post["number"] %>">
      <p>
        <strong>Date:</strong>
        <%= post["created_at"] %>
      </p>
      <p>
        <strong>ひとこと:</strong>
        <%= brief_comment(post["body_md"]) %>
      </p>
    </div>
  <% end %>
</div>
